html {
  position: relative;
}

body {
  margin: 0;
  padding: 0;
}

footer {
  padding: 15px;
  background-color: black;
}
footer .footer-text {
  color: white;
  text-align: center;
}

.grey-colored {
  color: #777777 !important;
}

.white-colored {
  color: white !important;
}

#root {
  height: 100%;
}

.centered {
  text-align: center;
}

.pointer {
  cursor: pointer;
}

.spacer {
  flex-grow: 1;
}

.logo-loader-image {
  animation: rotate-scale-up 1.5s linear both infinite;
  max-width: 150px;
  max-height: 150px;
}
@keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
    transform: scale(2) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg);
  }
}

.images-slider {
  max-width: 100%;
  margin: 15px 0;
  text-align: center;
}
.images-slider .item-image {
  max-width: 100%;
  max-height: 500px;
}

.center-all-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.product-modal-container img {
  max-height: 300px;
  max-width: 100%;
}
.product-modal-container .product-description {
  padding: 0 15px;
}
.product-modal-container .product-description h5 {
  padding-bottom: 25px;
}
.product-modal-container .product-description-col {
  padding: 0 15px;
}

.product-dialog-title {
  display: flex;
  flex-direction: row;
  padding-bottom: 0 !important;
}

.slide-in-right-left {
  animation: right-to-left 2s;
}

.slide-in-left-right {
  animation: left-to-right 2s;
}

.with-shadow {
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75);
}

.shadow-on-hover {
  box-shadow: none;
  transition: box-shadow 0.5s linear;
}
.shadow-on-hover:hover {
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75);
  cursor: pointer;
}

.divider-container .divider {
  height: 1px;
  background-color: black;
  animation: grow-slider 2s;
  margin: auto;
  width: 100%;
}
@keyframes grow-slider {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes left-to-right {
  0% {
    transform: translateX(-200px);
    opacity: 0.2;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes right-to-left {
  0% {
    transform: translateX(200px);
    opacity: 0.2;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.animated.highlighter {
  background-size: 200% 100%;
  transition: background-position 0.6s;
  background-color: transparent;
  width: fit-content;
}

#main-icons-container {
  padding: 15px 0;
}
#main-icons-container .title {
  margin: 20px 0;
}
#main-icons-container #main-icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
#main-icons-container #main-icons div {
  width: 180px;
  text-align: center;
  margin: 15px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#main-icons-container #main-icons div h6 {
  font-weight: bold;
  line-height: 1.2;
  color: white;
}

.parallax-container {
  min-height: 500px;
  background-image: url("../images/parallax.jpg");
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.parallax-container .top-mask {
  top: 0;
  transform: rotate(180deg);
}
.parallax-container .text-container {
  min-height: 40px;
  width: 100%;
}
.parallax-container .text-container .text {
  color: white;
  font-size: 35px;
  text-align: center;
  transition: filter 2s linear;
}

.arrow {
  border: solid #777777;
  border-width: 0 10px 10px 0;
  display: inline-block;
  padding: 10px;
}

.common-container {
  max-width: 1200px;
  margin: auto;
}

.nav-button {
  margin: 0 3px !important;
}

.color-fade-background {
  color: white !important;
  background: linear-gradient(45deg, #FE05F0 0, #F05926 100%);
}

#app-container .products-container {
  text-align: center;
}
#app-container .products-container .product {
  padding: 25px;
}
#app-container .products-container .product img {
  max-width: 100%;
  max-height: 350px;
}
#app-container .main-gif-container {
  text-align: center;
}
#app-container .main-gif-container .main-gif {
  margin: 10px auto 0 auto;
  max-width: 100%;
  position: relative;
  max-height: 566px;
}
#app-container #nav-bar header {
  background: linear-gradient(45deg, #e08f73 0, #5f5f5f 100%);
}
#app-container #nav-bar .toolbar {
  display: flex;
  flex-direction: row;
}
#app-container #nav-bar .toolbar .logo {
  max-height: 40px;
  cursor: pointer;
}
#app-container #nav-bar .toolbar .title {
  flex-grow: 1;
  text-align: center;
}
#app-container .page {
  min-height: 100vh;
  width: 100%;
  position: relative;
  animation: fade-in-page 1s;
}
@media screen and (width <= 700px) {
  #app-container .page {
    min-height: 100vh;
    height: auto;
  }
}
@keyframes fade-in-page {
  0% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
#app-container .page .centered-box {
  text-align: center;
  z-index: 2;
  max-width: 70%;
  height: 40%;
}
@media screen and (width <= 700px) {
  #app-container .page .centered-box {
    height: 80%;
    max-width: 100%;
    margin: 0 40px;
  }
}
#app-container .page .centered-box .titles {
  position: relative;
  overflow: hidden;
  text-align: center;
  max-width: 600px;
  min-height: 150px;
}
@media screen and (width < 700px) {
  #app-container .page .centered-box .titles {
    min-height: 250px;
  }
}
#app-container .page .centered-box .titles > div {
  height: 100%;
}
#app-container .page .centered-box .titles .title {
  color: white;
  animation: fade-in-title 2s;
}
#app-container .page .centered-box .titles h6 {
  animation: fade-in-subtitle 3s;
}
@keyframes fade-in-title {
  0% {
    transform: translateY(400%) scaleY(2.5) scaleX(0.2);
    opacity: 0;
  }
  100% {
    transform: translateY(0) scaleY(1) scaleX(1);
    opacity: 1;
  }
}
@keyframes fade-in-subtitle {
  0% {
    opacity: 0;
    filter: blur(2px);
    transform: scale(2) translateY(600%);
  }
  50% {
    opacity: 0;
    filter: blur(2px);
    transform: scale(2) translateY(600%);
  }
  100% {
    opacity: 1;
    filter: blur(0);
    transform: scale(1) translateY(0) rotate(0);
  }
}
#app-container .page .centered-box .divider-container {
  position: absolute;
  bottom: 0;
  width: 100%;
}
#app-container .common-page {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#app-container .common-page .overlay {
  background: linear-gradient(45deg, rgba(65, 235, 87, 0.7) 0, rgba(143, 21, 24, 0.8) 100%);
}
#app-container #login-page #inputs-form, #app-container #register-page #inputs-form {
  max-width: 500px;
  height: fit-content;
  padding: 50px;
}
#app-container #login-page .register-button-container, #app-container #register-page .register-button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  margin-bottom: 8px;
}
#app-container #register-page, #app-container #login-page, #app-container #course-page, #app-container #select-theme, #app-container #theme, #app-container #product, #app-container #select-product {
  padding-top: 75px;
  padding-bottom: 25px;
}
#app-container #course-page {
  animation: fade-in-page 1s;
}
#app-container #course-page .course-title {
  color: white;
}
#app-container #course-page .course-info-container {
  padding: 15px 25px;
}
#app-container #course-page .course-info-container .course-description-container {
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
#app-container #course-page .course-info-container .course-description-container .course-blob-container {
  padding: 25px 0 0 0;
}
#app-container #course-page .course-info-container .course-description-container .course-blob-container .blob {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
}
#app-container #course-page .course-info-container .course-description-container .course-blob-container .blob h6, #app-container #course-page .course-info-container .course-description-container .course-blob-container .blob h5 {
  color: white;
}
#app-container #course-page .course-info-container .course-description-container .course-blob-container .blob .icon-container {
  background-color: white;
  padding: 15px;
  border-radius: 50%;
  transition: background 1s;
}
#app-container #course-page .course-info-container .course-description-container .course-blob-container .blob .icon-container > svg {
  color: black;
  width: 2em;
  height: 2em;
}
#app-container #course-page .course-info-container .course-description-container .course-blob-container .blob .icon-container:hover {
  background-color: grey;
}
#app-container #course-page .course-info-container .course-description-container .course-blob-container .blob .icon-container:hover > svg {
  color: white;
}
#app-container #course-page .course-info-container .course-description-container .description-text {
  color: white;
}
#app-container #course-page .course-info-container .course-description-container .divider {
  width: 50%;
  height: 5px;
  background-color: #F05926;
  margin: 15px auto;
}
#app-container #course-page .course-info-container .course-description-container .share-links {
  border-radius: 25px;
  background: none;
  margin: 0 auto;
}
#app-container #course-page .course-info-container .course-description-container .share-links .share-links-container {
  border-radius: 25px;
  margin: 0 auto;
  width: fit-content;
}
#app-container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
}
#app-container .rounded-mask {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50px;
  z-index: 5;
}
#app-container .product {
  overflow: hidden;
}
#app-container .product .text-container {
  padding-top: 15px;
  width: fit-content;
  transition: margin-left 2s;
  margin-left: 20px;
}
#app-container .product .text-container.active {
  margin-left: 0;
}
#app-container .product .rounded-mask {
  top: 0;
  transform: rotate(180deg);
}
#app-container .product .product-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
#app-container .product .product-container > div {
  flex-basis: 50%;
}
#app-container .product .product-container .image-container {
  text-align: center;
}
#app-container .product .product-container img {
  max-width: 300px;
}
@media screen and (width <= 700px) {
  #app-container .product .product-container {
    display: block;
  }
}
#app-container .product .product-buttons {
  text-align: center;
  margin: 15px 0;
}
#app-container .product .product-buttons .buttons {
  width: fit-content;
  background-color: lightgrey;
  display: flex;
  justify-content: center;
  margin: auto;
}
#app-container .product .product-buttons .buttons .button {
  min-width: 100px;
}
#app-container #placa-page {
  margin-top: 80px;
}
#app-container #placa-page .placa-image-container {
  margin: 15px 0;
  text-align: center;
}
#app-container #placa-page .placa-image-container .placa-image {
  max-width: 100%;
}
#app-container .button-container {
  padding: 40px 0;
  text-align: center;
}
@media screen and (width <= 700px) {
  #app-container .button-container {
    padding: 0;
  }
}
#app-container .see-programs {
  background: white;
}
#app-container .see-programs > div {
  box-shadow: 0 0 15px 10px #c5c5c5;
  background-color: #c5c5c5;
  padding: 35px 0;
  margin: 5px 0;
}
#app-container .see-programs .white-colored {
  margin-bottom: 10px;
}
#app-container .see-programs .custom-divider {
  height: 2px;
  width: 20%;
  margin: 10px auto 30px auto;
  background-color: #f1582a;
}
#app-container #main-page {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex-direction: column;
  overflow: hidden;
}
#app-container #main-page .centered-box {
  width: 100%;
  max-width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  background: linear-gradient(45deg, #F05926 0, black 100%);
}
#app-container #main-page .titles-container {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
#app-container #main-page .titles-container .transparent-text {
  color: white;
  -webkit-background-clip: text;
  display: block;
  font-size: 100px;
  opacity: 0;
}
#app-container #main-page .titles-container .subtitle {
  margin-top: 25px;
  opacity: 0;
  color: white;
}
#app-container #main-page #main-video {
  position: absolute;
  top: 0;
  height: 100vh;
}
#app-container #main-page .button-container {
  margin: 15px 0;
}
#app-container #main-page .titles .subtitle {
  color: white;
}
#app-container .share-links {
  width: 100%;
  padding: 15px;
  background: #F5F5F5;
}
#app-container .share-links .share-links-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
#app-container .share-links .share-links-container .share-link-button svg {
  height: 30px;
  transition: fill 0.5s linear;
}
#app-container .share-links .share-links-container .share-link-button:hover svg {
  fill: #F05926;
}
#app-container .share-links .share-links-container .share-link-button:nth-child(odd):hover svg {
  fill: #FE05F0;
}
#app-container #select-theme, #app-container #theme {
  text-align: center;
}
@media screen and (width < 700px) {
  #app-container #select-theme, #app-container #theme {
    display: block;
  }
}
#app-container #select-theme .themes-container, #app-container #select-theme .course-container, #app-container #theme .themes-container, #app-container #theme .course-container {
  padding: 0 25px;
  width: 100%;
  flex-direction: column;
  background: none;
}
#app-container #select-theme .themes-container .theme, #app-container #select-theme .themes-container .course, #app-container #select-theme .course-container .theme, #app-container #select-theme .course-container .course, #app-container #theme .themes-container .theme, #app-container #theme .themes-container .course, #app-container #theme .course-container .theme, #app-container #theme .course-container .course {
  min-height: 200px;
  width: 100%;
  padding: 25px;
  margin: 25px 0;
  animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-position: center !important;
  background-size: cover !important;
}
#app-container #select-theme .themes-container .theme .overlay, #app-container #select-theme .themes-container .course .overlay, #app-container #select-theme .course-container .theme .overlay, #app-container #select-theme .course-container .course .overlay, #app-container #theme .themes-container .theme .overlay, #app-container #theme .themes-container .course .overlay, #app-container #theme .course-container .theme .overlay, #app-container #theme .course-container .course .overlay {
  position: absolute;
  opacity: 0.5;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
}
#app-container #select-theme .themes-container .theme .theme-title, #app-container #select-theme .themes-container .theme .course-title, #app-container #select-theme .themes-container .course .theme-title, #app-container #select-theme .themes-container .course .course-title, #app-container #select-theme .course-container .theme .theme-title, #app-container #select-theme .course-container .theme .course-title, #app-container #select-theme .course-container .course .theme-title, #app-container #select-theme .course-container .course .course-title, #app-container #theme .themes-container .theme .theme-title, #app-container #theme .themes-container .theme .course-title, #app-container #theme .themes-container .course .theme-title, #app-container #theme .themes-container .course .course-title, #app-container #theme .course-container .theme .theme-title, #app-container #theme .course-container .theme .course-title, #app-container #theme .course-container .course .theme-title, #app-container #theme .course-container .course .course-title {
  color: white;
  z-index: 10;
}
#app-container #select-theme .themes-container .theme:nth-child(2), #app-container #select-theme .themes-container .course:nth-child(2), #app-container #select-theme .course-container .theme:nth-child(2), #app-container #select-theme .course-container .course:nth-child(2), #app-container #theme .themes-container .theme:nth-child(2), #app-container #theme .themes-container .course:nth-child(2), #app-container #theme .course-container .theme:nth-child(2), #app-container #theme .course-container .course:nth-child(2) {
  animation-delay: 0.5s;
}
#app-container #select-theme .themes-container .theme:nth-child(3), #app-container #select-theme .themes-container .course:nth-child(3), #app-container #select-theme .course-container .theme:nth-child(3), #app-container #select-theme .course-container .course:nth-child(3), #app-container #theme .themes-container .theme:nth-child(3), #app-container #theme .themes-container .course:nth-child(3), #app-container #theme .course-container .theme:nth-child(3), #app-container #theme .course-container .course:nth-child(3) {
  animation-delay: 1s;
}
#app-container #select-theme .themes-container .theme:nth-child(4), #app-container #select-theme .themes-container .course:nth-child(4), #app-container #select-theme .course-container .theme:nth-child(4), #app-container #select-theme .course-container .course:nth-child(4), #app-container #theme .themes-container .theme:nth-child(4), #app-container #theme .themes-container .course:nth-child(4), #app-container #theme .course-container .theme:nth-child(4), #app-container #theme .course-container .course:nth-child(4) {
  animation-delay: 1.5s;
}
#app-container #select-theme .themes-container .theme:nth-child(5), #app-container #select-theme .themes-container .course:nth-child(5), #app-container #select-theme .course-container .theme:nth-child(5), #app-container #select-theme .course-container .course:nth-child(5), #app-container #theme .themes-container .theme:nth-child(5), #app-container #theme .themes-container .course:nth-child(5), #app-container #theme .course-container .theme:nth-child(5), #app-container #theme .course-container .course:nth-child(5) {
  animation-delay: 2s;
}
@keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}
#app-container #select-theme .course-container, #app-container #theme .course-container {
  flex-direction: row;
  flex-wrap: wrap;
}
#app-container #select-theme .course-container .course, #app-container #theme .course-container .course {
  margin: 10px;
  flex-basis: calc(50% - 30px);
}
@media screen and (width <= 700px) {
  #app-container #select-theme .course-container .course, #app-container #theme .course-container .course {
    margin: 10px 0;
  }
}
#app-container .faqs-container {
  width: 100%;
  padding: 0 50px;
}
#app-container .fade-in-items-container {
  background: white;
}
#app-container .fade-in-items-container .slide-container {
  text-align: center;
  opacity: 1;
}
#app-container .fade-in-items-container .slide-container .slide-content {
  margin: 25px;
  padding: 25px;
}
#app-container .fade-in-items-container .slide-container .slide-content .slide-icon {
  color: white;
  height: 50px;
  width: 50px;
}
#app-container .fade-in-items-container .slide-container .slide-content .title {
  border-bottom: 6px dotted white;
  margin-bottom: 25px;
  margin-top: 10px;
  padding-bottom: 10px;
}
#app-container .fade-in-items-container .slide-container .slide-content .text {
  color: white;
}
#app-container .fade-in-items-container .slide-container .slide-content .text.bold {
  font-weight: bold;
}
#app-container #clean-it-dossier {
  padding-top: 45px;
  text-align: center;
}
#app-container #clean-it-dossier img {
  margin: auto;
  max-width: 100%;
}
#app-container .course-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: white;
  padding: 25px;
}
#app-container .course-container .arrow {
  opacity: 0;
  margin: 25px;
  transform: rotate(-135deg);
}
@media screen and (width <= 700px) {
  #app-container .course-container {
    padding: 0 15px;
  }
}
#app-container .course-container .text-container {
  flex-basis: 40%;
}
@media screen and (width <= 700px) {
  #app-container .course-container .text-container {
    flex-basis: 0;
  }
}
#app-container .course-container .text-container .courses-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#app-container .course-container .text-container .courses-buttons button {
  margin: 5px;
}
#app-container .course-container .courses-container {
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}
#app-container .course-container .courses-container > div {
  width: 100%;
}
#app-container .course-container .courses-container > div h4 {
  width: 100%;
  text-align: center;
  margin: 15px 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 50%, rgba(251, 251, 91, 0.56) 50%);
  background-size: 200% 100%;
}
#app-container .course-container .courses-container > div h4.active {
  background-position: -100% 0;
}
#app-container .course-container .courses-container:nth-child(odd) {
  flex-direction: row-reverse;
}
#app-container .course-container .course {
  text-align: center;
}
#app-container .course-container .course .course-paper {
  min-height: 258px;
  margin: 5px 20px;
  padding: 5px 20px;
  animation: fade-in-course 1s;
  transition: transform 0.5s linear, background 0.25s linear;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
@media screen and (width <= 700px) {
  #app-container .course-container .course .course-paper {
    margin: 5px;
    height: auto;
    justify-content: space-evenly;
  }
}
#app-container .course-container .course .course-paper .course-title {
  min-height: 56px;
  font-weight: bold;
}
#app-container .course-container .course .course-paper img {
  height: 150px;
  width: 100%;
}
@media screen and (width <= 700px) {
  #app-container .course-container .course .course-paper img {
    height: auto;
    max-height: 200px;
  }
}
#app-container .course-container .course .course-paper:hover {
  transform: translateY(-10px);
  cursor: pointer;
}
@keyframes fade-in-course {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
#app-container .items-slider {
  min-height: 400px;
  padding: 15px 25px;
  background-color: #F5F5F5;
  overflow: hidden;
}
#app-container .items-slider .item {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  cursor: pointer;
  background-color: white;
  border-radius: 12px;
}
#app-container .items-slider .item .item-image-containter {
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#app-container .items-slider .item .item-image-containter .item-image {
  max-width: 100%;
  max-height: 100%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
#app-container .items-slider .item .item-title {
  text-align: center;
  margin: 20px 0;
  color: grey;
  height: 64px;
}
#app-container .highlight {
  padding: 25px 0;
  display: flex;
  flex-direction: row;
  min-height: 300px;
}
@media screen and (width <= 700px) {
  #app-container .highlight {
    display: block;
    padding: 25px 15px;
  }
}
#app-container .highlight .texts-container .animated.highlighter {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 50%, #85e2fb 50%);
}
#app-container .highlight > div {
  flex-basis: 50%;
}
#app-container .highlight > div img {
  margin: auto;
  max-height: 300px;
  margin: 30px 0;
}
#app-container .highlight:nth-child(odd) {
  flex-direction: row-reverse;
}
#app-container .highlight:nth-child(odd) .texts-container .animated.highlighter {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 50%, rgba(251, 81, 86, 0.56) 50%);
}
#app-container .themes-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 0 15px 0;
  border-bottom: 1px solid white;
  margin: 15px 0;
}
#app-container .themes-bar .button-container {
  margin: 5px;
}
@media screen and (width <= 700px) {
  #app-container .themes-bar {
    flex-direction: column;
  }
}

/*# sourceMappingURL=styles.css.map */
