$mobile-breakpoint: 700px;
$main-color: #FE05F0;
$secondary-color: #F05926;
$grey-color: #777777;
html{
  position:relative
}

body{
  margin: 0;
  padding: 0;
}

footer{
  padding: 15px;
  background-color: black;


  .footer-text{
    color: white;
    text-align: center;
  }
}

.grey-colored{
  color: $grey-color!important;
}
.white-colored{
  color: white!important;
}

#root{
  height:100%;
}

.centered{
  text-align: center;
}

.pointer{
  cursor: pointer;
}

.spacer{
  flex-grow: 1;
}

.logo-loader{
  &-image{
    animation: rotate-scale-up 1.5s linear both infinite;
    max-width: 150px;
    max-height: 150px;
  }
  @keyframes rotate-scale-up {
    0% {
      -webkit-transform: scale(1) rotateZ(0);
      transform: scale(1) rotateZ(0);
    }
    50% {
      -webkit-transform: scale(2) rotateZ(180deg);
      transform: scale(2) rotateZ(180deg);
    }
    100% {
      -webkit-transform: scale(1) rotateZ(360deg);
      transform: scale(1) rotateZ(360deg);
    }
  }
}

.images-slider{
  max-width:100%;
  margin: 15px 0;
  text-align: center;
  .item-image{
    max-width: 100%;
    max-height: 500px;
  }
}

.center-all-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.product-modal-container{
  img{
    max-height:300px;
    max-width:100%;
  }

  .product-description{
    padding: 0 15px;
    h5{
      padding-bottom: 25px;
    }
  }
  .product-description-col{
    padding: 0 15px;
  }
}
.product-dialog-title{
  display: flex;
  flex-direction: row;
  padding-bottom: 0!important;
}


.slide-in-right-left{ animation: right-to-left 2s};
.slide-in-left-right{ animation: left-to-right 2s};

.with-shadow{
  -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.75);
  -moz-box-shadow: 0 0 5px 0 rgba(0,0,0,0.75);
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.75);
};

.shadow-on-hover{
  box-shadow: none;
  transition: box-shadow 0.5s linear;

  &:hover{
    -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 5px 0 rgba(0,0,0,0.75);
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.75);
    cursor: pointer;
  }
}

.divider-container{

  .divider{
    height:1px;
    background-color: black;
    animation: grow-slider 2s;
    margin: auto;
    width:100%;
    @keyframes grow-slider {
      0%{ width: 0 }
      100%{ width: 100%}
    }
  }
}

@keyframes left-to-right {
  0%{
    transform: translateX(-200px);
    opacity: 0.2;
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes right-to-left {
  0%{
    transform: translateX(200px);
    opacity: 0.2;
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }
}

.animated.highlighter{
  background-size: 200% 100%;
  transition: background-position .6s;
  background-color: transparent;
  width: fit-content;

  //&.active {
  //  background-position: -100% 0;
  //}
}

#main-icons-container{
  padding: 15px 0;
  .title{
    margin: 20px 0;
  }
  #main-icons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    div{
      width: 180px;
      text-align: center;
      margin: 15px;
      padding:10px;
      display:flex;
      flex-direction:column;
      justify-content: center;
      align-items: center;
      h6{
        font-weight:bold;
        line-height:1.2;
        color:white;
      }
    }
  }
}

.parallax-container{
  min-height: 500px;
  background-image: url('../images/parallax.jpg');
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .top-mask{
    top:0;
    transform: rotate(180deg)
  }

  .text-container{
    min-height: 40px;
    width: 100%;

    .text{
      color: white;
      font-size: 35px;
      //filter: blur(4px);
      text-align: center;
      transition: filter 2s linear;

    }
  }
}

.arrow{
  border: solid $grey-color;
  border-width: 0 10px 10px 0;
  display: inline-block;
  padding: 10px;
}

.common-container{
  max-width:1200px;
  margin:auto;
}

.nav-button{
  margin: 0 3px!important;
}

.color-fade-background{
  color: white!important;
  background: linear-gradient(45deg, $main-color 0, $secondary-color 100%)
}

#app-container {
  .products-container{
    text-align: center;
    .product{
      padding: 25px;
      img{
        max-width:100%;
        max-height:350px;
      }
    }
  }

  .main-gif-container{
    text-align: center;
    .main-gif{
      margin: 10px auto 0 auto;
      max-width:100%;
      position:relative;
      max-height:566px;
    }
  }

  #nav-bar {
    header {
      background:linear-gradient(45deg, rgb(224, 143, 115) 0, rgb(95, 95, 95) 100%);
    }
    .toolbar {
      display: flex;
      flex-direction: row;

      .logo {
        max-height: 40px;
        cursor: pointer;
      }

      .title {
        flex-grow: 1;
        text-align: center;
      }
    }
  }

  .page {
    min-height: 100vh;
    width: 100%;
    position: relative;
    animation: fade-in-page 1s;

    @media screen and (width <= $mobile-breakpoint) {
      min-height: 100vh;
      height: auto;
    }

    @keyframes fade-in-page {
      0% {
        opacity: 0.6
      }
      100% {
        opacity: 1
      }
    }

    &.first {
      // margin-top:15px;
      //height: calc(100vh - 25px);
    }

    .centered-box {
      text-align: center;
      z-index: 2;
      max-width: 70%;
      height: 40%;

      @media screen and (width <= $mobile-breakpoint) {
        height: 80%;
        max-width: 100%;
        margin: 0 40px;
      }

      .titles {
        position: relative;
        overflow: hidden;
        text-align: center;
        max-width: 600px;
        min-height: 150px;
        @media screen and (width<$mobile-breakpoint){
          min-height:250px;
        }
        > div {
          height: 100%
        }
        .title {
          color: white;
          animation: fade-in-title 2s;
        }

        h6 {
          animation: fade-in-subtitle 3s;
        }

        @keyframes fade-in-title {
          0% {
            transform: translateY(400%) scaleY(2.5) scaleX(0.2);
            //filter: blur(40px);
            opacity: 0;
          }
          100% {
            transform: translateY(0) scaleY(1) scaleX(1);
            //filter: blur(0);
            opacity: 1;
          }
        }
        @keyframes fade-in-subtitle {
          0% {
            opacity: 0;
            filter: blur(2px);
            transform: scale(2) translateY(600%);
          }
          50% {
            opacity: 0;
            filter: blur(2px);
            transform: scale(2) translateY(600%);
          }
          100% {
            opacity: 1;
            filter: blur(0);
            transform: scale(1) translateY(0) rotate(0);
          }
        }
      }
      .divider-container {
        position: absolute;
        bottom: 0;
        width: 100%;
      }
    }
  }

  .common-page {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .overlay {
      background: linear-gradient(45deg, rgba(65, 235, 87, 0.7) 0, rgba(143, 21, 24, 0.8) 100%)
    }
  }

  #login-page, #register-page {
    #inputs-form {
      max-width: 500px;
      height: fit-content;
      padding: 50px;
    }
    .register-button-container{
      display: flex;
      justify-content: space-between;
      margin-top: 16px;
      margin-bottom: 8px;
    }
  }

  #register-page,#login-page,#course-page,#select-theme,#theme,#product,#select-product{
    padding-top: 75px;
    padding-bottom: 25px;
  }

  #course-page{
    animation: fade-in-page 1s;
    .course-title{
      color: white;
    }
    .course-info-container{
      padding: 15px 25px;
      .course-description-container{
        padding: 0 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;

        .course-blob-container{
          padding: 25px 0 0 0;
          .blob{
            display:flex;
            flex-direction:column;
            justify-content: center;
            align-items: center;
            margin: 15px 0;

            h6,h5{
              color:white;
            }

            .icon-container{
              background-color: white;
              padding:15px;
              border-radius:50%;
              transition: background 1s;

              >svg{
                color:black;
                width:2em;
                height:2em;
              }
              &:hover{
                background-color: grey;
                >svg{
                  color: white;
                }
              }
            }
          }
        }

        .description-text{
          color: white;
        }
        .divider{
          width:50%;
          height:5px;
          background-color: $secondary-color;
          margin: 15px auto;
        }
        .share-links{
          border-radius: 25px;
          background: none;
          margin: 0 auto;
          .share-links-container{
            border-radius: 25px;
            margin: 0 auto;
            width: fit-content;
          }
        }
      }
    }
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
  }

  .rounded-mask {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50px;
    z-index: 5;
   }

  .product {
    overflow: hidden;
    .text-container {
      padding-top: 15px;
      width: fit-content;
      transition: margin-left 2s;
      margin-left: 20px;
      &.active {
        margin-left: 0;
      }
    }

    .rounded-mask {
      top: 0;
      transform: rotate(180deg);
    }
    .product-container {
      display: flex;
      justify-content: center;
      align-items: center;

      > div {
        flex-basis: 50%;
      }
      .image-container {
        text-align: center;
      }
      img {
        max-width: 300px;
      }
      @media screen and (width <= $mobile-breakpoint) {
        display: block;
      }
    }
    .product-buttons {
      text-align: center;
      margin: 15px 0;
      .buttons {
        width: fit-content;
        background-color: lightgrey;
        display: flex;
        justify-content: center;
        margin: auto;
        .button {
          min-width: 100px;
        }
      }
    }
  }

  #placa-page{
    margin-top: 80px;

    .placa-image-container{
      margin: 15px 0;
      text-align: center;
      .placa-image{
        max-width:100%;
      }
    }
  }
  .button-container{
    padding: 40px 0;
    text-align: center;
    @media screen and (width <= $mobile-breakpoint){
      padding: 0;
    }
  }

  .see-programs{
    background:white;
    >div{
      box-shadow: 0 0 15px 10px #c5c5c5;
      background-color: #c5c5c5;
      padding: 35px 0;
      margin:5px 0;
    }
    .white-colored{
      margin-bottom:10px;
    }
    .custom-divider{
      height:2px;
      width:20%;
      margin: 10px auto 30px auto;
      background-color: #f1582a;
    }
  }

  #main-page {
    //background: url('../images/blur-back.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-direction: column;
    overflow: hidden;
    .centered-box{
      width:100%;
      max-width:100%;
      height:100%;
      position: absolute;
      top: 0;
      left: 0;
      margin:0;
      //background-color: rgba(0,0,0,0.4);
      background: linear-gradient(45deg, #F05926 0, rgba(0, 0, 0) 100%);
    }

    .titles-container{
      position:absolute;
      width:100%;
      top:50%;
      left:50%;
      transform: translate(-50%,-50%);
      z-index:10;

      .transparent-text{
        color: white;
        //-webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        display:block;
        font-size:100px;
        opacity:0;

      }
      .subtitle{
        margin-top:25px;
        opacity: 0;
        color:white;
      }
    }


    #main-video{
      position:absolute;
      top:0;
      height:100vh;
    }

    .button-container {
      margin: 15px 0;
    }

    .titles {
      .title {
        //color: $secondary-color;
        //>span:nth-child(odd){
        //  color: $main-color;
        //}
        //color: black;
      }
      .subtitle {
        color: white;
      }
    }
  }

  .share-links {
    width: 100%;
    padding: 15px;
    background: #F5F5F5;
    .share-links-container {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      .share-link-button {
        svg {
          height: 30px;
          transition: fill 0.5s linear;
        }
        &:hover {
          svg {
            fill: $secondary-color;
          }
        }
        &:nth-child(odd){
          &:hover {
            svg {
              fill: $main-color;
            }
          }
        }
      }
    }
  }

  #select-theme,#theme{
    text-align: center;

    @media screen and (width<$mobile-breakpoint){
      display: block;
    }

    .themes-container,.course-container{
      padding: 0 25px;
      width: 100%;
      flex-direction: column;
      background: none;
      .theme,.course{
        min-height: 200px;
        width: 100%;
        padding: 25px;
        margin: 25px 0;
        animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
        border-radius: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        background-position: center!important;
        background-size: cover!important;

        -webkit-box-shadow: inset 0px 0px 20px 14px rgba(0,0,0,0.75);
        -moz-box-shadow: inset 0px 0px 20px 14px rgba(0,0,0,0.75);
        box-shadow: inset 0px 0px 20px 14px rgba(0,0,0,0.75);

        .overlay{
          position:absolute;
          opacity: 0.5;
          top: 0;
          left: 0;
          background: rgba(0,0,0,0.8);
        }

        .theme-title,.course-title{
          color: white;
          z-index: 10;
        }

        &:nth-child(2){
          animation-delay: 0.5s;
        }

        &:nth-child(3){
          animation-delay: 1s;
        }

        &:nth-child(4){
          animation-delay: 1.5s;
        }

        &:nth-child(5){
          animation-delay: 2s;
        }
      }

      @keyframes swing-in-top-fwd {
        0% {
          -webkit-transform: rotateX(-100deg);
          transform: rotateX(-100deg);
          -webkit-transform-origin: top;
          transform-origin: top;
          opacity: 0;
        }
        100% {
          -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
          -webkit-transform-origin: top;
          transform-origin: top;
          opacity: 1;
        }
      }
    }
    .course-container{
      flex-direction:row;
      flex-wrap:wrap;
      .course{
        margin: 10px;
        flex-basis: calc(50% - 30px);
        @media screen and (width <= $mobile-breakpoint){
          margin: 10px 0;
        }
      }
    }
  }

  .faqs-container{
    width: 100%;
    padding: 0 50px;
  }

  .fade-in-items-container{
    background: white;
    .slide-container{
      //transform: translateY(-100px) rotateZ(25deg);
      text-align: center;
      opacity:1;
      .slide-content{
        margin: 25px;
        padding:25px;

        .slide-icon{
          color: white;
          height:50px;
          width: 50px;
        }

        .title{
          border-bottom: 6px dotted white;
          margin-bottom:25px;
          margin-top: 10px;
          padding-bottom: 10px;
        }

        .text{
          color: white;
        }
        .text.bold{
          font-weight: bold;
        }
      }
    }
  }

  #clean-it-dossier{
    padding-top:45px;
    text-align: center;
    img{
      margin: auto;
      max-width:100%;
    }
  }

  .course-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    padding: 25px;
    .arrow{
      opacity:0;
      margin:25px;
      transform: rotate(-135deg);
    }

    @media screen and (width<=$mobile-breakpoint){
      //display: block;
      //margin: 15px 0;
      padding: 0 15px;
    }

    .text-container{
      flex-basis:40%;

      @media screen and (width<=$mobile-breakpoint){
          flex-basis: 0;
      }

      .courses-buttons{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        button{
          margin: 5px;
        }
      }
    }
    .courses-container{
      flex-basis:60%;
      display:flex;
      flex-direction: column;
      justify-content: center;
      flex-wrap: wrap;
      >div{
        width:100%;
        h4{
          width:100%;
          text-align: center;
          margin: 15px 0;
          background: linear-gradient(to right, rgba(0, 0, 0, 0) 50%, rgba(251, 251, 91, 0.56) 50%);
          background-size: 200% 100%;
          &.active{
            background-position: -100% 0;
          }
        }
      }
    }
    .courses-container:nth-child(odd){
      flex-direction: row-reverse;
    }

    .course{
      text-align: center;
      .course-paper{
        min-height: 258px;
        margin: 5px 20px;
        padding: 5px 20px;
        animation: fade-in-course 1s;
        transition: transform 0.5s linear,background 0.25s linear;

        display: flex;
        flex-direction: column;

        justify-content: space-around;

        @media screen and (width <= $mobile-breakpoint){
          margin: 5px;
          height: auto;
          justify-content: space-evenly;
        }

        .course-title{
          min-height: 56px;
          font-weight: bold;
        }

        img{
          height: 150px;
          width:100%;
          @media screen and (width <= $mobile-breakpoint){
            height: auto;
            max-height: 200px;
          }
        }

        &:hover{
          transform: translateY(-10px);
          //background: linear-gradient(90deg, lighten($main-color,30) 0, lighten($secondary-color,30) 100%);
          cursor: pointer;
          .course-title{
            //color: white;
          }
        }

        @keyframes fade-in-course {
          0%{ opacity: 0.3 }
          100%{ opacity: 1 }
        }
      }
    }
  }

  .items-slider{
    min-height:400px;
    padding: 15px 25px;
    background-color: #F5F5F5;

    overflow: hidden;
    .item{
      margin-top: 10px;
      margin-bottom: 10px;
      text-align: center;
      cursor: pointer;
      background-color: white;
      border-radius: 12px;
      .item-image-containter{
        height: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .item-image {
          max-width: 100%;
          max-height: 100%;
          border-top-left-radius: 12px;
          border-top-right-radius: 12px;
        }
      }
      .item-title{
        text-align: center;
        margin: 20px 0;
        color: grey;
        height: 64px;
      }
    }
  }

  .highlight{
    padding: 25px 0;
    display: flex;
    flex-direction: row;
    min-height:300px;

    @media screen and (width<=$mobile-breakpoint){
      display: block;
      padding: 25px 15px;
    }

    .texts-container{
      .animated.highlighter{
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 50%, #85e2fb 50%);
      }
    }
    >div{
      flex-basis: 50%;
      img{
        margin: auto;
        max-height:300px;
        margin: 30px 0;
      }
    }
    &:nth-child(odd){
      flex-direction: row-reverse;

      .texts-container {
        .animated.highlighter {
          background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 50%, rgba(251, 81, 86, 0.56) 50%);
        }
      }
    }
  }
  .themes-bar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 0 15px 0;
    //border-top: 1px solid white;
    border-bottom: 1px solid white;
    margin: 15px 0;

    .button-container{
      margin: 5px;
    }

    @media screen and (width <= $mobile-breakpoint){
      flex-direction: column;
    }
  }
}
